<mat-card>
    <h1>All Categories</h1>
    <mat-list>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line>{{c.title}}</div>
            <button 
            mat-raised-button 
            color="primary"
            (click)="deleteFun(c.cId)">
            Delete
            </button>
            <div mat-line>{{c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
        <div class="container text-center mt-10">
            <button mat-raised-button color="accent" routerLink="/admin/add-category">Add Categories</button>
        </div>
    </mat-list>
</mat-card>
